SERVER_PORT=
ENVIRONMENT=
COOKIES_SECRET=

#SESSION STORAGE CAN BE "EXPRESS_SESSION" | "FILE_STORE" | "MONGO_ATLAS" | "MONGO_DB"
SESSION_STORAGE= 
MONGO_URI= 
MONGO_ATLAS_URL= 

TWILIO_SID= 
TWILIO_AUTH_TOKEN= 

EMAIL_USER= 
EMAIL_PASS= 

PINO_LOG_LEVEL= 